<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <div class="alert alert-danger">
          <h1 class="display-3">403</h1>
          <h4>Forbidden Access</h4>
          <p class="lead">You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>
          <a href="/" class="btn btn-primary btn-lg">Go Back to Home</a>
        </div>
      </div>
    </div>
  </div>
  