<!-- src/app/components/home/home.component.html -->
<div class="container mt-5">
  <div class="text-center mb-5">
    <h1 class="display-4">{{ welcomeMessage }}</h1>
    <p class="lead">Manage your company inventories efficiently with our platform.</p>
    <hr class="my-4 w-50 mx-auto">
    <p class="text-muted">Explore and manage your company details, employees, and inventory all in one place.</p>
  </div>

  <div class="row justify-content-center">
    <!-- Inventory Card Section -->
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="https://img.freepik.com/free-vector/handling-order-processing-abstract-concept-vector-illustration-order-documentation-processing-system-handling-customer-request-logistics-automated-logistics-operations-abstract-metaphor_335657-1789.jpg?ga=GA1.1.519532885.1718444428&semt=ais_hybrid" class="card-img-top" alt="Inventory Overview">
        <div class="card-body text-center">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="https://img.freepik.com/premium-vector/illustration-warehouse-employees-sorting-packages-according-type-goods_1150725-862.jpg?ga=GA1.1.519532885.1718444428&semt=ais_hybrid" class="card-img-top" alt="Inventory Overview">
        <div class="card-body text-center">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <img src="https://img.freepik.com/free-vector/warehouse-worker-checking-inventory_3446-395.jpg?ga=GA1.1.519532885.1718444428&semt=ais_hybrid" class="card-img-top" alt="Inventory Overview">
        <div class="card-body text-center">
        </div>
      </div>
    </div>
  </div>
</div>
